/* ===== CSS RESET ===== */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
main {
  min-height: 100vh ;
}
html {
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
}
